/* Global styling for this template */
@import "~bootstrap-icons/font/bootstrap-icons.css";

table.dataTable.collapsed>tbody>tr>td:first-child:before,
table.dataTable.collapsed>tbody>tr>th:first-child:before
{
    top: 50%;
    left: 50%;
    height: 0.8em;
    width: 0.8em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    margin-right: 0.5em;
    display: inline-block;
    color: white;
    border: 0.15em solid white;
    border-radius: 1em;
    box-shadow: 0 0 0.2em #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1em;
    content: '+';
    background-color: #31b131;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
    content: "-";
    background-color: red;
}

html {
    /*background-color: white;*/
    p {
        color: white;
    }


    .navbar-toggler {
        padding: 0.25rem 0.25rem;
        margin-right: 0.5rem;

        .navbar-toggler-icon {
            width: 1.0em;
            heigth: 1.0em;
        }
    }

    nav {
        border-bottom: lightgray solid 0.1vmin;

        .navbar-logo {
            width: 30px;
            heigth: 30px;

        }
    }

    .is-invalid {
        ~label {
            small {
                color: red !important;
            }
        }
    }

    .releaseFundsCards {
        // thead tr th:first-child,
        // tbody tr td:first-child {
        //     width: 8em;
        //     min-width: 8em;
        //     max-width: 8em;
        // }
        .card {
            padding: 0px;
            margin: 0 auto;
        }
    }
    
    #orderOwnerSummaryCard {
        //width: 24rem;
    }
    #topSellersCard {
        // width: 18rem;
    }

    #patrolStandingsChartCard {
        min-width: 370px;
        .card-body {
            padding: 0px;
            margin: 0 auto;

            #patrolStandingsChart {
                width: 360px;
                height: 300px;
            }
        }
    }

    @media screen and (max-width: 1024px) {

        #topSellersCard {
            width: auto;
            #topSellersTable {
                td {
                    font-size: small;
                    padding-bottom: 0px !important;
                    padding-top: 0px !important;
                }
            }
        }

        #orderOwnerSummaryCard {
            width: auto;

            #orderOwnerSummaryList {
                li {
                    font-size: small;
                    padding-bottom: 0px !important;
                    padding-top: 0px !important;
                }
            }
        }

        #patrolStandingsChartCard {
            width: auto;
        }

        #reportsTable {
            td {
                font-size: small;
            }
        }

        @media (max-height: 1000px) {
            #patrolStandingsChartCard {
                //display: none;
                .card-body {
                    margin: 0 0;
                }
            }
        }
    }


    .add-order-widget {
        z-index: 1;
        position: absolute;
        bottom: 10px;
        right: 15px;


        label {
            font-style: italic;
            padding-right: 0.5rem;
            padding-top: 0.2rem;
        }

        .add-order-btn {
            width: 2.0rem;
            height: 2.0rem;
            padding: 0;
            margin: 0;
            color: black;
            box-shadow: 0 0 0 0 rgba(olive, .5);
            -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
            -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
            -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
            animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

            svg {
                width: 100%;
                height: 100%;
            }

            &:hover {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none;
            }

            @-webkit-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
            @-moz-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
            @-ms-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
            @keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
        }
    }

    #outOfHoodDisclaimer {
        color: maroon;
    }
    // #cardReportBody {
    //  // width: 99%;
    //     // padding: 0;
    // }

    #spreadingDlg {
        .make-disabled {
            pointer-events: none;
            opacity: 0.3;

            ~label {
                pointer-events: none;
                opacity: 0.3;
            }
        }

        .btn-group-vertical {
            display: block;
            height: 20rem;
            background: white;
            color: #0d6efd;
            border-color:#0d6efd;

            .active {
                background: #0d6efd !important;
                color: white !important;
                border-color:white !important;
            }

            label:hover {
                color: inherit;
                background-color: inherit;
                border-color: inherit;
            }
        }


        #spreadReviewTab {
            li {
                background:#0d6efd;
                color: white;
                border-color:white;

            }
        }
    }

    #orderCardTitle {
        ul {
            padding-right: 0px;
            display: inline-flex;
            li {
                padding: 0px;
                border: none;
            }
        }
    }

    #productList {
        padding: 0;
        border-style: hidden;
    }

    #productList.is-invalid {
        padding-right: 2rem;
        border-style: solid;
    }

    .reports-view-setting-btn {
        padding: 3px;
        margin: 0px;
        width: 2.0rem;
        height: 2.0rem;
        margin-bottom: 6px;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .order-list-name {
        width: 200px;
    }

    .order-list-addr {
        width: 400px;
    }

    .order-list-due {
        width: 150px;
    }

    .order-del-btn,
    .order-edt-btn,
    .order-spread-btn,
    .order-view-btn {
        padding: 0;
        margin: 0;
        width: 2.0rem;
        height: 2.0rem;
        border-radius: 25%;

        svg {
            width: 70%;
            height: 70%;
        }
    }
}
