// bootstrap
@import "~bootstrap/scss/bootstrap";


/* Global styling for this template */
html {
  background-color: rebeccapurple;
  p {
    color: white;
  }

  nav {
      border-bottom: lightgray solid 0.1vmin
  }

  .add-order-btn {
      position: fixed;
      bottom: 15px;
      right: 15px;
  }

  .order-list-name {
      width: 200px;
  }

  .order-list-addr {
      width: 400px;
  }

  .order-list-due {
      width: 150px;
  }

  .order-edt-btn {
      width: 40px;
      heigth: 40px;
      border-radius: 25%;
  }  
}
