// bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "~datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* Global styling for this template */
html {
  /*background-color: white;*/
  p {
    color: white;
  }

  .navbar-toggler {
      padding: 0.25rem 0.25rem;

      .navbar-toggler-icon {
          width: 1.0em;
          heigth: 1.0em;
      }
  }

  nav {
      border-bottom: lightgray solid 0.1vmin;

      .navbar-logo {
          width: 30px;
          heigth: 30px;

      }
  }


  .add-order-btn {
      position: fixed;
      bottom: 15px;
      right: 15px;
	  width: 2.5rem;
	  height: 2.5rem;
	  padding: 0;
	  margin: 0;
	  color: black;
	  box-shadow: 0 0 0 0 rgba(olive, .5);
	  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

	  svg {
		  width: 100%;
		  height: 100%;
	  }

	  &:hover {
		  -webkit-animation: none;
		  -moz-animation: none;
		  -ms-animation: none;
		  animation: none;
	  }

	  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
	  @-moz-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
	  @-ms-keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
	  @keyframes pulse {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
  }

  .reports-view-setting-btn {
	  padding: 3px;
	  margin: 0px;
	  width: 2.0rem;
	  height: 2.0rem;
	  margin-bottom: 6px;

	  svg {
		  width: 100%;
		  height: 100%;
	  }
  }

  .order-list-name {
      width: 200px;
  }

  .order-list-addr {
      width: 400px;
  }

  .order-list-due {
      width: 150px;
  }

  .order-edt-btn {
	  padding: 0;
	  margin: 0;
	  width: 2.5rem;
	  height: 2.5rem;
      border-radius: 25%;

	  svg {
		  width: 70%;
		  height: 70%;
	  }
  }
}
